*{
    margin: 0 auto;
}
body{
    background: linear-gradient(140deg, #161313, #00af3d);
    height: 1000px;
    width: 100%;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}
.redirectDiscord {
    background: none;
    color: white;
    border: none;
}
.redirectSpotify {
    background: none;
    color: white;
    border: none;
}
.redirectDiscord:hover {
text-shadow: 4px 4px 5px white;
transition: 300ms;
}
.redirectSpotify:hover {
    text-shadow: 4px 4px 5px white;
    transition: 300ms;
}